<html class="" lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <meta class="foundation-mq"></head>
  <body>

      <div class="callout large primary">
      <div class="row column text-center">
        <h1>How Busy is Epping</h1>
      </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>Epping is [BUSY_LEVEL]</h3>
        <img src="/photo.png">
        <p>[PHOTO_TIME]</p>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();

      $.getJSON('/json_data/').done(function (data){

          window.console.log(data)

      })

    </script>





</body></html>